body, html {
    height: 100%;
    margin: 0;
  }
 
.main {

    background: url(../img/asthetic-body-pic.png) center no-repeat;
    width: 100%;
    height: 750px;

    background-size: cover;
    position: relative;
    perspective: 100rem;
}



h2 {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}

h4 {
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
}

.container{          
    text-align: center;
    margin-top: 20px;
    margin-left: 110px;
}

.img-content {
    width: 500px;
    height: 250px;

}

.container-duo {          
    text-align: center;
    margin-top: 20px;
    margin-left: 110px;

    
}

.img-content-2 {
    width: 500px;
    height: 250px;
    margin-left: -30px;
    margin-right: 50px;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .container .container-duo .img-content .img-content-2 .main {
      width:100%;
    }

    @media only screen and (max-width:480px) {
        /* For mobile phones: */
        .container .container-duo .img-content .img-content-2 .main {
          width:100%;
        }