html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
*{
margin: 0;
padding: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
box-sizing: border-box;
} 
.sec {

width: 100vw;
background: url(../img/0-100-front.png) center no-repeat;
height: 100vh;
animation: contact-bg 35s infinite;
background-size: 100% 100%;

}


.container a{
    display: block;
    }
    .container{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
 
 .container-img{
    min-width: 190px;
    max-width:100%;
    height: auto;
    
    }

 h4 {
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    }